SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
# Optional for unattended import/deployment. Keep private and never commit its value.
SANITY_AUTH_TOKEN=skHyPCetlLWPjtdDp2G4dF7Rwttu5aTVr1BHezlt80je5HmsdFyKMmb4oVK26Gu3oo42xMYegbu0OEwVkyrmqAuqKE8CbH3rvG7sGcpT3dAYcNCopVFCSOI5E8Yg2WJZ1BgNE3WlNyVhJxJgdCTVwCKr4ebbeOTx3XwkRSdUflgpOvjYsgUX
